<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="UI" class="com.andersonmesq.autosavi.service.UiAppender"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="UI"/>
    </root>
</configuration>